:root {
	--primary: #DC143C;
	--dark: #1F2937;
	--darkdark: #111827;
	--light: #F3F4F6;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}

body {
	background-color: var(--dark);
	color: var(--light);
}

.watch {
	text-align: center;
	background-color: var(--darkdark);
	width: 100%;
	max-width: 360px;
	margin: 4rem auto;
	padding: 1rem 2rem;
	border-radius: 1rem;
}

.watch .time {
	font-size: 5rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
}

.controls button {
	appearance: none;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;

	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;

	color: #FFF;
	background-color: var(--primary);

	transition: 0.4s;
	user-select: none;
}

.controls button:hover {
	opacity: 0.7;
}

.controls button:active {
	background-color: var(--dark);
}